#sstssfb_location_options_wrapper {
width: 100%;
font-family: Arial;
background: #3abf78;
padding: 0 0 5px;
}
#sstssfb_location_options_wrapper input[type="radio"], #sstssfb_location_options_wrapper input[type="checkbox"] {
display: none;
}
#sstssfb_location_options_wrapper ul {
margin: 15px 0 0;
}
#sstssfb_location_options_wrapper .post_type_item {
margin: 10px 0 0;
}
#wrapper_option_main li {
padding: 0;
margin: 0 0 3px;
font-size: 12px;
position: relative;
font-weight: bold;
display: block;
background: #e8d60b;
color: #26533b;
}

#wrapper_option_main {
width: 100%;
display: none;
text-align: left;
}

#wrapper_left_title,
#wrapper_right_title,
#wrapper_option_main{
text-align: left;
padding: 15px;
}

#wrapper_left_title,
#wrapper_right_title {
font-size: 18px;
font-family: Arial;
font-weight: bold;
display: block;
}

#wrapper_left_title,
#wrapper_right_title {
color: #ffffff;
width: 1%;
display: table-cell;
}

#wrapper_left_title {
background: rgb(31, 85, 68);
}

#wrapper_right_title {
background: rgb(39, 95, 78);
}

#wrapper_option_main {
box-sizing: border-box;
}
#wrapper_option_main .options_explanation {
font-size: 38px;
font-family: Arial;
font-weight: bold;
display: block;
color: #318358;
padding: 20px 0;
text-align: center;
}
#wrapper_option_main .page_item_header {
display: block;
color: #e6e6e6;	
margin: 0 0 3px;
font-weight: bold;
height: 33px;
line-height: 33px;
font-size: 18px;
}
#wrapper_option_main .taxo_header {
font-size: 13px;
height: 26px;
line-height: 26px;	
color: #ffffff;	
}
.header_general_list {
padding: 0 0 0 10px;
}
#wrapper_option_main .page_item_header {
background: #318358;
}
#wrapper_option_main .taxo_header {
background: rgb(52, 163, 88);
}
.parent_location_label {
margin: 0 0 0 10px;
}
.parent_loc_title_wrapper input[type="radio"]+label {
width: 23px;
height: 23px;
background: #ffbf00;
display: inline-block;
box-shadow: 0 0 0 3px #ffbf00 inset, 0 0 0 1px #ffbf00;
}
.parent_loc_title_wrapper input[type="radio"]:checked+label {
background: #116928;
box-shadow: 0 0 0 3px #ffbf00 inset, 0 0 0 1px #ffbf00;
}
.parent_loc_title_wrapper input[type="radio"]:hover+label {
box-shadow: 0 0 0 3px rgb(235, 88, 26) inset;
}

.sstssfb_pages_list input[type="checkbox"]+label {	
float: left;
width: 20px;
height: 20px;
background: rgba(0, 0, 0, 0.1);
display: inline-block;
vertical-align: baseline;
}

#wrapper_option_main .sstssfb_pages_list input[type="checkbox"]:checked+label {
background: rgb(81, 153, 38);
box-shadow: 0 0 0 3px rgb(235, 116, 26) inset;
}
#wrapper_option_main .sstssfb_pages_list input[type="checkbox"]:hover+label {
box-shadow: 0 0 0 3px rgb(18, 168, 223) inset;
}
.sstssfb_pages_list input[type="checkbox"]+label+label {	
display: block;
left: 0;
margin: 0 0 0 25px;
position: relative;
right: 0;
height: 20px;
line-height: 20px;
vertical-align: bottom;
}

.page_item_header input[type="checkbox"]+label {
width: 33px;
height: 33px;
font-size: 28px;
line-height: 35px;
text-align: center;
}
.page_item_header input[type="checkbox"]+label+label {
vertical-align: top;
margin: 0 0 0 38px;
line-height: 35px;
height: 33px;
}
.taxo_header input[type="checkbox"]+label {
width: 26px;
height: 26px;
}
.taxo_header input[type="checkbox"]+label+label {
vertical-align: top;
margin: 0 0 0 30px;
line-height: 28px;
height: 26px;
}

#wrapper_option_main .page_item_header input[type="checkbox"]:checked+label {
background: #ffba00;
box-shadow: 0 0 0 6px rgb(235, 116, 26) inset;
}
#wrapper_option_main .page_item_header input[type="checkbox"]:hover+label {
box-shadow: 0 0 0 6px rgb(18, 168, 223) inset;
}

#wrapper_option_main .taxo_header input[type="checkbox"]:checked+label {
background: #ee8800;
box-shadow: 0 0 0 5px rgb(235, 116, 26) inset;
}
#wrapper_option_main .taxo_header input[type="checkbox"]:hover+label {
box-shadow: 0 0 0 5px rgb(18, 168, 223) inset;
}
.visit-item {
position: absolute;
z-index: 999;
right: 0;
margin: auto 0;
top: 0;
bottom: 0;
display: block;
}
.visit-item:hover {
color: rgb(201, 80, 0);
}
.openclose {
position: absolute;
z-index: 999;
right: 0;
margin: auto 0;
top: 0;
bottom: 0;
display: inline-block;
padding: 0 5px;
cursor: pointer;
transition: ease 1s;
color: #000000;
}
.openclose:hover { 
background: #e8d60b;
}
.openclose_ptype {
width: 33px;
height: 33px;
line-height: 33px;
font-size: 26px;
}
.openclose_taxo {
height: auto;
line-height: 25px;
}

.post_type_childrens, .taxonomy_childrens {
display: none;
}

/* date */
.date_box {
display: block;
color: #ffffff;
}
.date_box h2 {
color: #ffffff;
font-weight: bold;
}
.date_box span {
display: inline-block;
text-align: justify;
font-size: 12px;
margin: 0 0 10px 0;
line-height: 1.4em;
color: #333333;
}
#post_typebutton {
margin: 0;
}
.eps_input_date {
text-align: center;
}
.partial_title {
padding: 15px;
background: #318358;
font-size: 18px;
font-family: Arial;
font-weight: bold;
}
.date_boxcontent {
background: #3abf78;
padding: 8px 15px 15px;
}
#ui-datepicker-div {
z-index: 999 !important;
}

/*No specific locator*/
#get_specloc_addon {
	margin: 10px 0 0;
	padding: 5px;
	background: #000000;
	font-weight: normal;
}

#get_specloc_addon .get_now, #get_specloc_addon .see_demo {
	position: relative;
	display: table-cell;
	padding: 15px;
	font-size: 23px;
	width: 1%;
	text-align: center;
	text-decoration: none;
}

#get_specloc_addon .get_now:after, #get_specloc_addon .see_demo:after { 
content: "";
position: absolute;
display: block;
width: 0;
height: 0;
right: 23px;
top: 0;
bottom:0;
left: auto;
margin: auto;
}
/* #get_specloc_addon .see_demo:before { 
content: "or";
position: absolute;
display: block;
width: 18px;
height: 18px;
line-height: 16px;
font-size: 13px;
font-weight:bold;
right: auto;
top: 0;
bottom:0;
left: 15px;
margin: auto;
color: #ffffff;
background: rgb(0, 0, 0);
padding: 3px;
border-radius: 100%;
} */
#get_specloc_addon .get_now:after {
border-left: 23px solid rgba(0, 0, 0, 0.18);
border-top: 23px solid transparent;
border-bottom: 23px solid transparent;
}

#get_specloc_addon .see_demo:after {
border-left: 13px solid rgba(0, 0, 0, 0.18);
border-top: 13px solid transparent;
border-bottom: 13px solid transparent;
}

#get_specloc_addon .get_now {
	background: rgb(235, 88, 26);
	color: #ffbf00;
}
#get_specloc_addon .get_now b{
	color: #ffffff;
}
#get_specloc_addon .get_now:hover{
	background: rgb(233, 63, 3);
}
#get_specloc_addon .see_demo {
	background: #ffbf00;
	color: rgb(26, 79, 63);
	font-size: 16px;
}
#get_specloc_addon .see_demo:hover{
	background: rgb(255, 155, 13);
	color: #ffffff;
}